
ul {
    list-style: none;
    width: 100%;
    li {
        display: block;
        float: left;
        width: 100%;
        box-shadow: 1px 1px 1px rgba(150,150,150,1);
        margin: 2px 0 2px 0;
    }
}




.col {
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(200,200,200,1);
}

