<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <h1 class="navbar-brand">
    REST試験
  </h1>
</nav>

<div class="container-fluid">
  <div class="d-flex">
    <!--
      設定の保存、読み込み
    -->
    <div class="my-box w-20">
      <h4>送信</h4>
      <div class="container">
        <div
        (click)='sendGetRequest()'
        class="btn btn-secondary rounded-pill">GET Request</div>
      </div>
      <br>
      <div class="container">
        <div
          (click)='sendPostRequest()'
          class="btn btn-secondary rounded-pill">POST Request</div>
      </div>
      <br>
      <div class="container">
      <div
          (click)='sendPutRequest()'
          class="btn btn-secondary rounded-pill">PUT Request</div>
      </div>
      <br>
      <div class="container">
        <div
          (click)='sendDeleteRequest()'
          class="btn btn-secondary rounded-pill">DELETE Request</div>
      </div>
    </div>
    <!--
      送信URL、ヘッダー、パラメーターの設定
    -->
    <div class="my-box w-50">
      <div class="form-group">
        <label for="server">ServerURL:</label>
        <input type="text" id="server"
          class="form-control col-sm-8"
          [(ngModel)]="requests.server">
      </div>
      <br>
      <div class="form-group">
        <label for="json">ヘッダー:</label>
        <textarea id="json" class="form-control"
          [(ngModel)]="requests.header"></textarea>
      </div>
      <br>
      <div class="form-group">
        <label for="json">送信データは=形式で書く:</label>
        <textarea id="json" class="form-control"
          [(ngModel)]="requests.json"></textarea>
      </div>
    </div>
    <!--
      設定の保存、読み込み
    -->
    <div class="my-box w-50">
      <div class="form-group">
        <button class="btn btn-primary" (click)="saveSetting()">保存</button>
        <ul>

          <li *ngFor="let setting of authSetting; index as i;">
            <div class="row">
              <div class="col col-md-1">{{ i }}</div>
              <div class="col col-md-7">{{ setting.server }}</div>
              <div class="col col-md-2">
                <button class="btn btn-success"
                  (click)="callSetting(i)">
                  呼出
                </button>
              </div>
              <div class="col col-md-2">
                <button class="btn btn-danger"
                  (click)="deleteSetting(i)">
                  削除
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <br>
    </div>
  </div>
</div>

<!--
  サーバーレスポンス表示
-->
<div class="container-fluid">
  <div>レスポンスコード：{{resultStatus}}</div>
  <div>レスポンス内容：{{resultStatusText}}</div>
  <div>
    <h5>ヘッダー：</h5>
    <ul>
      <li *ngFor="let head of resultHeader; index as i;">
        <div>{{head}} </div>
      </li>
    </ul>
  </div>
  <div>
    <h5>戻りデータ：</h5>
    <ul>
      <li *ngFor="let data of resultData; index as i;">
        <div>{{data}} </div>
      </li>
    </ul>
  </div>
</div>

